// Colores
$color-primario: #400428 !default;
$color-secundario: #78576b;
$color-fondo: #a6bf9196;
$color-texto: #5f9982;
$color-borde: #f4e196;
$color-blanco: #ffffff;
$color-gris: #f0f0f0;


// Dimensiones
$ancho-sidebar: 250px;
$altura-toolbar: 60px;

// Transiciones
$transicion-rapida: all 0.3s ease;